<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension point="org.review_board.ereviewboard.ui.scmFileContentsLocator">
     	<scmFileContentsLocator class="org.review_board.ereviewboard.ccase.core.internal.actions.CCaseSCMFileContentsLocator">
     </scmFileContentsLocator>
   </extension>
   <extension
         point="org.review_board.ereviewboard.ui.compareEditorInput">
      <compareEditorInput
            class="org.review_board.ereviewboard.ccase.ui.internal.ClearcaseCompareEditorInputFactory"
            repositoryType="ClearCase">
      </compareEditorInput>
   </extension>
</plugin>
